$bodybg: linear-gradient(90deg, rgba(5, 5, 5, 1) 0%, rgba(68, 72, 82, 1) 50%);
$mainbg: linear-gradient(
  90deg,
  rgba(68, 72, 82, 1) 0%,
  rgba(20, 19, 19, 0.9774305555555556) 50%
);
$rightbg: #ffbe00;
$logo: #ffbe00;
