body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #050505 0%, #444852 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main {
  position: relative;
  width: 85%;
  height: 85%;
  background: linear-gradient(90deg, #444852 0%, rgba(20, 19, 19, 0.977431) 50%);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
}

.main .head {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.main .head .left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.main .head .left .logo {
  font-weight: bold;
  font-family: helvetica;
  font-size: 1.3rem;
  color: #ffbe00;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main .head .left .logo:hover {
  transform: scale(1.3);
}

.main .head .left nav {
  width: 70%;
}

.main .head .left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.main .head .left ul li {
  text-decoration: none;
  list-style: none;
  font-family: helvetica;
  padding: 5px;
  color: #ffbe00;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main .head .left ul li:hover {
  color: white;
  transform: scale(1.5);
}

nav.right {
  margin-right: 1rem;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

nav.right .search {
  font-weight: bold;
  font-family: helvetica;
  padding: 1rem;
  margin-right: 1rem;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav.right .search:hover {
  transform: scale(1.5);
}

nav.right .burger {
  font-weight: bold;
  font-family: helvetica;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav.right .burger:hover {
  transform: scale(1.5);
}

.under {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.under > .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.under > .left .first {
  font-weight: bold;
  font-family: helvetica;
  font-style: italic;
  padding: 10px;
  font-size: 2rem;
  color: white;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.under > .left .first:hover {
  transform: scale(1.3);
}

.under > .left .second {
  font-weight: bold;
  font-family: helvetica;
  font-family: monospace;
  padding: 10px;
  font-size: 4.5rem;
  color: white;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.under > .left .second:hover {
  transform: scale(1.3);
}

.under > .left .third {
  font-weight: bold;
  font-family: helvetica;
  color: #ffbe00;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.under > .left .third:hover {
  transform: scale(1.3);
}

.under > .left .fourth {
  padding: 10px;
  border: 2px solid white;
  color: white;
  border-radius: 1rem;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  font-family: helvetica;
  transition: all 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.under > .left .fourth:hover {
  transform: scale(1.13);
  background: #ffbe00;
  color: black;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  justify-content: space-evenly;
}

.right .img {
  margin-right: -5rem;
}

.right .img img {
  width: 60%;
  border-radius: 50%;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-name: rotateimage;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.right .img img:hover {
  transform: scale(1.12);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: white;
  padding: 0.2rem;
  border-radius: 10px;
  height: 15rem;
}

.social .link {
  color: black;
  padding: 1rem;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.social .link:hover {
  transform: scale(2.7);
}

.active {
  color: white;
  border-bottom: 3px solid #ffbe00;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.slider {
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .static {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slider .stuffs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .stuffs .one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .stuffs .one .img {
  width: 100%;
  padding: 10px;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.slider .stuffs .one .img:hover {
  transform: scale(1.3);
}

.slider .stuffs .one .img img {
  width: 100%;
  border-radius: 2rem;
}

.slider .stuffs .one .details {
  padding: 1rem;
  font-size: 0.65rem;
  font-family: helvetica;
  text-align: center;
}

.slider .stuffs .one .head {
  font-weight: bold;
  font-family: helvetica;
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.slider .stuffs .one .bottom {
  color: white;
  margin-top: -1px;
  text-align: center;
}

.prev {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.prev,
.next {
  color: white;
  background: #ffbe00;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.prev:hover,
.next:hover {
  background: rgba(236, 236, 56, 0.932);
  transform: scale(1.2);
}

.fixed {
  width: 40%;
}

.fixed .things {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed .things .thead {
  font-weight: bold;
  font-family: helvetica;
  margin-bottom: 5px;
  color: white;
}

.fixed .things .down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.fixed .things .down .num {
  background: rgba(255, 255, 255, 0.384);
  color: black;
  padding: 1rem;
  font-weight: bold;
  font-family: helvetica;
  margin-bottom: 5px;
  transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.fixed .things .down .num:hover {
  background: rgba(216, 216, 14, 0.712);
  transform: scale(1.2);
}

.fixed .things .down .txt {
  padding: 1rem;
  font-size: 0.65rem;
  font-family: helvetica;
  color: white;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 102%;
  height: 100%;
  background: #ffbe00;
  z-index: -100;
  margin-top: -1rem;
  border-radius: 2rem;
}

@keyframes rotateimage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */